<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.mapper.BoardMapper">
  <select id="getList" resultType="org.zerock.domain.BoardVO">
  select * from tbl_board
  where 1=1
  <include refid="searchSQL"></include>
  and bno>(select max(bno) - 100000 from tbl_board) 
  order by bno desc limit #{skip}, #{display}
  </select>
  
  <select id="read" resultType="org.zerock.domain.BoardVO">
  select * from tbl_board where bno = #{bno}
  </select>
  
  <insert id="register" parameterType="org.zerock.domain.BoardVO">
  insert into tbl_board (title, writer, content) values (#{title}, #{writer}, #{content})
  </insert>
  
  
  <insert id="insertSelectKey">
  <selectKey resultType="Long" keyProperty="bno" order="AFTER">
  	select LAST_INSERT_ID()
  </selectKey>
  insert into tbl_board (bno, title, writer, content) values (#{bno}, #{title}, #{writer}, #{content})
  </insert>
  
  
  <update id="modify" parameterType="org.zerock.domain.BoardVO">
  update tbl_board set title=#{title}, writer=#{writer}, content=#{content} where bno=#{bno}
  </update>
  
  <delete id="delete" parameterType="org.zerock.domain.BoardVO">
  delete from tbl_board where bno=#{bno}
  </delete>
  
  <select id="count" resultType="int">
  select count(*) from tbl_board
  where 1=1
  <include refid="searchSQL"></include>
  and bno>(select max(bno) - 100000 from tbl_board) 
  </select>
  
  <sql id="searchSQL">
  <if test="types != null">
	  <foreach collection="types" item="item" open="AND (" close=")" separator="OR">
		  <if test="item == 't'.toString()">
		  title like concat('%', #{keyword},'%')
		  </if>
		  <if test="item == 'w'.toString()">
		  writer like concat('%', #{keyword},'%')
		  </if>
		  <if test="item == 'c'.toString()">
		  content like concat('%', #{keyword},'%')
		  </if>
		  <if test="item == ''.toString()">
		  content like concat('%', #{keyword},'%')
		  </if>
	  </foreach>
  </if>
  </sql>
  
  </mapper>